<?xml version="1.0" ?>
<!-- PuzzleBot differential drive -->
<robot name="puzzlebot" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<!-- files for gazebo costumization 
	<xacro:include filename="$(find puzzlebot_gazebo)/urdf/materials.xacro" />
	<xacro:include filename="$(find puzzlebot_gazebo)/urdf/parameters.xacro" />
	<xacro:include filename="$(find puzzlebot_gazebo)/urdf/puzzlebot.gazebo" />
	<xacro:include filename="$(find puzzlebot_gazebo)/urdf/macros.xacro" />  
	-->

	<!-- Dummy link to fiz robot chassis -->
  	<link name="puzzlebot_frame">
		<pose>0 0 0 0 0 0</pose>
	</link>
  
	<joint name="base_link_to_chassis" type="fixed">
		<parent link="puzzlebot_frame"/>
		<child link="chassis"/>
	</joint>

	<link name="chassis">
		<pose>0 0 0 0 0 0</pose>
		<visual>
			<!-- box only -->
			<origin xyz="0 0 0" rpy="0 0 0"/>        
			<geometry>
				<box size="0.3 0.2 0.15"/> 
			</geometry> 

			<!-- with mesh  -->
			<!--
			<origin xyz="0 0 0" rpy="${PI/2} 0 ${PI/2}"/>
			<geometry>
				<mesh filename="file://${mesh_chassis}"/>
			</geometry> 
			-->
		</visual>

		<!--
		<collision name="collision_chassis">
			<origin rpy="0 0 0" xyz="0 0 0"/>
			<geometry>
					<box size="${chassisX} ${chassisY} ${chassisZ}"/> 
			</geometry>
		</collision>
		
		<inertial>
		<mass value="${chassisMass}"/>    
		<xacro:box_inertia m="${chassisMass}" x="${chassisX}" y="${chassisY}" z="${chassisZ}" />
		</inertial>
		-->

	<!-- agregar caster wheel en frame --> 
		<collision>
			<origin xyz="-0.095 0 -0.0425" rpy="0 0 0"/>
			<geometry>
				<sphere radius="0.1"/>
			</geometry>			
		</collision>

		<visual>
			<origin xyz="-0.095 0 -0.0425" rpy="0 0 0"/>
			<geometry>
				<sphere radius="0.1"/>
			</geometry>
		</visual>
	
	</link>

<!---->
</robot>
